<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">


	<!-- <test name="service"> <listeners> <listener class-name="com.axelerant.listeners.TestListener" 
		/> </listeners> <parameter name="browser" value="firefox" /> <classes> <class 
		name="com.axelerant.tests.LoginTests"> <methods> <include name="checkCreationOfCheckingAccount" 
		/> </methods> </class> <class name="com.axelerant.tests.AccountTests"> <methods> 
		<include name="checkCreationOfCheckingAccount" /> <include name="checkCreationOfSavingsAccount" 
		/> </methods> </class> </classes> </test> -->

	<test name="service">
		<listeners>
			<listener class-name="com.axelerant.listeners.TestListener" />
		</listeners>
		<parameter name="browser" value="msedge" />
		<classes>
			<class name="com.axelerant.tests.LoginTests">
				<!-- <methods>
					<include name="checkCreationOfCheckingAccount" />
				</methods> -->
			</class>
			<class name="com.axelerant.tests.AccountTests">

				<!-- <methods> <include name="checkCreationOfCheckingAccountWithAPI" 
					/> <include name="checkCreationOfSavingsAccountWithAPI" /> <include name="billPayFromChkAccToSavAccWithAPI" 
					/> </methods> -->

			</class>
		</classes>
	</test>


</suite> <!-- Suite -->